h1{
    background-color: blue;
}
h2{background-color: blueviolet;
}
table {
   table-layout: fixed;
  width: 100%;  
}
td {
  width: 25%;
  border: solid black 2px;
}
#cel1{
  background-color: green;
}
#cel2 
img {
background-color: aliceblue;
width: 100%
}
#cel3{
  background-color: blue;
}
#cel4 img { 
  background-color: azure;
  width: 100%  
} 
 #cel5{
  background-color: aqua;
 }
 #cel6 img {  
  background-color: bisque;
  width: 100%;
} 
  #cel7{
  background-color: red;
 }
 #cel8 img{
  background-color: beige;
  width: 100%;
 }
  #cel9{
  background-color: yellow;
 }
 #cel10 img{
  background-color: lime;
  width: 100%;
 }
 #cel11{
  background-color: orange;
 }
 #cel12 img{
 background-color: antiquewhite;
 width: 100%;
 }
 #cel13{
  background-color: blueviolet;
 }
#cel14 img{
background-color:lightsalmon;
width: 100%;
}
#cel15{
  background-color: brown;
}
#cel16 img{
background-color: whitesmoke;
width: 100%;
}
 
   